@import "@scss/_compoent_import.scss";

.cntntWrap {
  @include contentWrap;
}

.lodrErrCmpt {
  margin-top: 100px;
}

.noRsltMsg {
  color: $color_1;
  text-align: center;
  margin-top: 100px;
}

.productItm {
  display: inline-block;
  width: 50%;

  &:nth-child(n + 3) {
    margin-top: 20px;
  }
}

@include tablet {
  .productItm {
    width: 33.33%;

    &:nth-child(n + 3) {
      margin-top: 0;
    }

    &:nth-child(n + 4) {
      margin-top: 20px;
    }
  }
}

@include desktop {
  .productItm {
    padding: 0 5px;
    width: 20%;

    &:nth-child(n + 4) {
      margin-top: 0;
    }

    &:nth-child(n + 6) {
      margin-top: 20px;
    }
  }
}
