@import "@scss/_compoent_import.scss";

.preOdrDtalCrd {
  border-radius: 20px;
  max-width: 80vw;
  width: 100%;
  background-color: $color_4;
  overflow: auto;
  padding: 40px 20px;
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 100%;
  max-width: 300px;
}

.textInputWrapItem {
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.textInput {
  width: 100%;
}

.btnWrap {
  margin-top: 20px;
  text-align: center;
}

@include desktop {
  .preOdrDtalCrd {
    max-width: 50vw;
  }
}
