@import "@scss/_compoent_import.scss";

.header {
  background-color: $color_7;
  color: $color_4;
}

.contentWrap {
  @include contentWrap;

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.rightInfoSec {
  display: flex;
  align-items: center;
}

.userInfoSec {
  display: flex;
  align-items: center;
}

.avatarWrap {
  display: inline-block;
  background-color: $color_6;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.name {
  @include textTruncate;

  max-width: 100px;
  display: inline-block;
  margin-left: 5px;
}

.logoutBtn {
  margin-left: 10px;
}

@include desktop {
  .header {
    background-color: $color_7;
  }

  .contentWrap {
    min-height: 80px;
  }

  .avatarWrap {
    width: 30px;
    height: 30px;
  }

  .logoutBtn {
    margin-left: 20px;
  }
}
