@import "@scss/_compoent_import.scss";

.contentWrap {
  @include contentWrap;
}

.lodrNErrCmpt {
  margin-top: 100px;
}

.productImageWrap {
  border-radius: 20px;
  overflow: hidden;
  height: 200px;
  background-color: rgba($color_6, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rightSec {
  color: $color_1;
  padding: 10px;
}

.name {
  color: $color_6;
  text-transform: capitalize;
}

.seller {
  margin-top: 5px;
}

.outStock {
  text-align: center;
  color: $color_2;
  margin-top: 20px;
}

.buttonWrap {
  text-align: center;
  margin-top: 20px;
}

@include desktop {
  .productCntnt {
    display: flex;
    justify-content: space-between;
  }

  .productImageWrap {
    width: 40%;
    height: 70vh;
    position: relative;
  }

  .rightSec {
    width: 55%;
  }

  .outStock {
    text-align: left;
  }

  .buttonWrap {
    text-align: left;
  }
}
